@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 117 64% 98%;
    --foreground: 117 60% 1%;
    --muted: 117 24% 88%;
    --muted-foreground: 117 13% 38%;
    --popover: 117 64% 98%;
    --popover-foreground: 117 60% 1%;
    --card: 117 64% 98%;
    --card-foreground: 117 60% 1%;
    --border: 117 11% 93%;
    --input: 117 11% 93%;
    --primary: 117 56% 51%;
    --primary-foreground: 117 56% 11%;
    --secondary: 117 2% 80%;
    --secondary-foreground: 117 2% 20%;
    --accent: 117 9% 73%;
    --accent-foreground: 117 9% 13%;
    --destructive: 20 96% 20%;
    --destructive-foreground: 20 96% 80%;
    --ring: 117 56% 51%;
    --chart-1: 117 56% 51%;
    --chart-2: 117 2% 80%;
    --chart-3: 117 9% 73%;
    --chart-4: 117 2% 83%;
    --chart-5: 117 59% 51%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 117 45% 0%;
    --foreground: 117 18% 98%;
    --muted: 117 24% 12%;
    --muted-foreground: 117 13% 62%;
    --popover: 117 45% 0%;
    --popover-foreground: 117 18% 98%;
    --card: 117 45% 0%;
    --card-foreground: 117 18% 98%;
    --border: 117 11% 15%;
    --input: 117 11% 15%;
    --primary: 117 56% 51%;
    --primary-foreground: 117 56% 11%;
    --secondary: 117 3% 16%;
    --secondary-foreground: 117 3% 76%;
    --accent: 117 9% 22%;
    --accent-foreground: 117 9% 82%;
    --destructive: 20 96% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 117 56% 51%;
    --chart-1: 117 56% 51%;
    --chart-2: 117 3% 16%;
    --chart-3: 117 9% 22%;
    --chart-4: 117 3% 19%;
    --chart-5: 117 59% 51%;
  }
}
